@media (max-width: 600px) {

    /*Parte Inicio*/
    section.imagemMinha {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    section.imagemMinha > div.miIMG > img{
        width: 70vw;
        height: 320px;
    }

    section#detalhes > div.sobremim{
        width: 80vw;
    }

    header > nav.menuPC > ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    /*Parte Projetos*/
    section#projetos>div{
        display: flex;
        flex-direction: column;
        
    }

    section#projetos>div.cardsmain>div.cardsP>div{
        flex-wrap: wrap;
    }
    
    section#projetos>div.cardsmain>div.cardsP{
        width: 270px;
        height: 340px
    }

    section#projetos>div.cardsmain>div.cardsP>a>img {
        height: 200px;
        width: 270px;
        border-radius: 20px;
    }
    /*Parte Tecnologías*/
section#stacks{
    width: 95vw;
}

    section#stacks>div>img{
        width: 100px;
        height: 100px;
    }
    /*Parte Contato*/
    section#contato {
        display: flex;
        justify-content: center;
        border: 2px solid rgb(111,0,255);
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        width: 95vw;
    }
  }
  @media(min-width:600px) and (max-width:900px){
       /*Parte Inicio*/
       section.imagemMinha {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
  
      section.imagemMinha > div.miIMG > img{
          width: 70vw;
          height: 550px;
      }
  
      section#detalhes > div.sobremim{
          width: 80vw;
      }
  
      header > nav.menuPC > ul{
          display: flex;
          flex-wrap: wrap;
          gap: 4rem;
      }
      
      /*Parte Projetos*/
      section#projetos>div{
          display: flex;
          flex-direction: column;
          
      }
  
      section#projetos>div.cardsmain>div.cardsP>div{
          flex-wrap: wrap;
      }
      
      section#projetos>div.cardsmain>div.cardsP{
        width: 599px;
        height: 400px;
      }
  
      section#projetos>div.cardsmain>div.cardsP>a>img {
         height: 310px;
         width: 598px;
          border-radius: 20px;
      }
      /*Parte Tecnologías*/
  section#stacks{
      width: 95vw;
  }
  
      section#stacks>div>img{
          width: 100px;
          height: 100px;
      }
      /*Parte Contato*/
      section#contato {
          display: flex;
          justify-content: center;
          border: 2px solid rgb(111,0,255);
          flex-direction: column;
          align-items: center;
          padding-top: 2rem;
          width: 95vw;
  }}
  @media(min-width:901px) and (max-width:1279px){
  /*Parte Inicio*/
  section.imagemMinha {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  section.imagemMinha > div.miIMG > img{
      width: 70vw;
      height: 700Px;
  }

  section#detalhes > div.sobremim{
      width: 80vw;
  }

  header > nav.menuPC > ul{
      display: flex;
      flex-wrap: wrap;
      gap: 6rem;
  }
  
  /*Parte Projetos*/
  section#projetos>div{
      display: flex;
      flex-direction: column;
      
  }

  section#projetos>div.cardsmain>div.cardsP>div{
      flex-wrap: wrap;
  }
  
  section#projetos>div.cardsmain>div.cardsP{
    width: 599px;
    height: 400px;
  }

  section#projetos>div.cardsmain>div.cardsP>a>img {
     height: 310px;
     width: 598px;
      border-radius: 20px;
  }
  /*Parte Tecnologías*/
section#stacks{
  width: 95vw;
}

  section#stacks>div>img{
      width: 100px;
      height: 100px;
  }
  /*Parte Contato*/
  section#contato {
      display: flex;
      justify-content: center;
      border: 2px solid rgb(111,0,255);
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
      width: 95vw;
}

  }