@font-face {
  font-family: CLOISTER;
  src: url("/CloisterBlack.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #2f3136;
}

/* CABEÇALHO*/
header {
  background-color: rgb(10, 10, 10);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav.menuPC > ul {
  gap: 5rem;
  display: flex;
  list-style: none;
}

/*MAIN*/
main {
  min-height: 80vh;
  width: 100vw;
}

section.imagemMinha {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./assets/img/background\ foto.webp");
  margin-top: -1rem;
}

section.imagemMinha > div{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.imagemMinha > div.miIMG > img {
  border-radius: 50%;
  width: 300px;
  height: 400px;
}

/*TITULO PORTIFÓLIO*/
section#start {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("./assets/img/background-portifolio.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "CLOISTER";
  color: green;
}

section#start > h1.efeitoT {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: black;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  text-shadow: -2px -2px green;
  -webkit-text-stroke: 1px green;
  font-size: 80px;
}

.tipo-animacao {
  animation: efectOne 400ms infinite normal steps(40),
    tipo 3.5s 1s normal steps(40) infinite both;
}

@keyframes tipo {
  from {
    width: 0;
  }
  to {
    width: 3.9em;
  }
}

@keyframes efectOne {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* SEÇÃO DETALHHES*/
section#detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#detalhes > div.titulo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 2rem;
}

section#detalhes > div.sobremim {
  display: flex;
  justify-content: center;
  width: 50vw;
  border: solid 3px red;
  border-radius: 30px;
  padding: 1rem;
}
section#detalhes > div.sobremim > img.MinhaFoto {
  height: 100%;
}

/*PARTE PROJETOS*/

section#projetos>h2{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

section#projetos>div.cardsmain{
  display: flex;
  gap: 2rem;
  justify-content: center;
}

section#projetos>div.cardsmain>div.cardsP{
width: 400px;
height: 340px;
background-color: rgb(10,10,10);
margin-bottom: 2rem;
border: 2px solid red;
border-radius: 20px;
}

section#projetos>div.cardsmain>div.cardsP>a>img{
  height: 250px;
  width: 400px;
  border-radius: 20px;
}

section#projetos>div.cardsmain>div.cardsP>h3{
  display: flex;
  justify-content: center;
}

section#projetos>div.cardsmain>div.cardsP>div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

section#projetos>div.cardsmain>div.cardsP>.iconslegend{
  
  width: 40px;
  height: 40px;
}
section#stacks{
  border:  2px solid red;
}


section#stacks>div{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

section#stacks>div>img{
  width: 200px;
  height: 200px;
}

h2.f{
  display: flex;
  justify-content: center;
}

section#contato{
  display: flex;
  justify-content: space-evenly;
  border:  2px solid red;
}

section#contato>div>a>img{
  width: 200;
  height: 200px;
}

/*RODAPÉ*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
}
footer>a>img{
  width: 30px;
  height: 30px;
}

